.white-box {
    background: #E5E5E5;
    display: inline-block;
    width: 50%;
    height: 100vh;
    justify-content: center;
}

.logo {
    position: absolute;
    justify-content: flex-start;
    margin-left: 3%;
    margin-top: 3%;
    width: 100%;
    max-width: 259px;
    max-height: 75px; 
    /* falta deixar essa logo responsiva qd encolher a tela */
}

.white-box-content {
    padding-top: 30%;
    padding-left: 15%;
    padding-right: 15%;
}

.button {

    border-radius: 10px;
    background-color: var(--orange-dark);
    box-shadow: -1px 2px 4px rgba(0,0,0,0.26);
    width: 320px;
    height: 63px;
    cursor: pointer;
    border: 0;
    
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* transition: filter 0.6s; */
    margin-bottom: 5%;
}

.orange-box {
    background-color: #FE662E;;
    position: absolute;
    display: inline-block;
    justify-content: flex-end;
    width: 50%;
    height: 100vh;
}

.orange-box-content {
    padding: 15%;
}

.ilustracao-desmarcar-final {
    width: 100%;
    max-width: 697px;
    max-height: 689px; 
}