html {
  font-size: 62.5%;
}

.main {
  display: flex;
}

.white-box {
  display: flex;
  background: var(--grey-light);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  width: 50%;
  height: 130vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 229px;
  max-height: 45px;
  margin-top: 2.9%;
  margin-left: 2.9%;
}

.texto-selected {
  font-weight: 600;
  margin-top: 55vh;
  margin-bottom: 2vh;
}

.bud-unit {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.bud {
  border-radius: 10px 10px 0 0;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  width: 20.15vw;
  height: 10vh;
  cursor: pointer;
  border: 0;
}

.bud-saopaulo {
  background-color: var(--orange);
  margin: 0;
}

.bud-santos {
  background-color: var(--grey-button);
  color: var(--orange);
  margin: 0;
}

.calendar {
  background-color: var(--orange);
  margin-bottom: 20px;
  border-radius: 10px;
  width: 40.30vw;
  height: 65vh;
  min-width: 175px;
  min-height: 201px;
  cursor: pointer;
}

.calendar .header {
  display: flex;
  background-color: var(--orange);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 2.4rem;
  align-items: center;
  height: 25px;
}

.calendar .day-names {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--orange);
  align-self: center;
}

.calendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
  cursor: pointer;
}

.calendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
  cursor: pointer;
}

.calendar .week {
  background-color: var(--orange);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  width: calc(100% / 7);
  text-align: center;
  text-transform: uppercase;
  align-items: center;

}

.calendar .week div {
  width: 100%;
}

.calendar .day {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  /* line-height: 44px; */
  width: calc(100% / 7);
  display: inline-block;
  color: var(--white);
  align-items: center;
  text-align: center;

}

/* .calendar .day div {
  margin: auto; 
  padding: auto;
  width: 54px;
  height: 44px; 
} */

.calendar .day div.before {
  color: var(--red);
}

.calendar .day div.selected {
  background-color: var(--red);
  color: var(--white);
  font-weight: bold;
}

.calendar .day div.today {
  background-color: var(--white);
  color: var(--red);
}

.workspace {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;

  margin-bottom: 30px;
}

.workspace p {
  margin-bottom: 30px;
}

.selected-workspace {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  width: 25vw;
  height: 7vh;
  background: var(--white);
  border: 4px solid var(--orange);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.31);
  border-radius: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../../assets/images/selector-arrow.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  padding: 2%;
}

.bud-schedule {
  background-color: var(--orange-dark);
  border-radius: 10px;
  box-shadow: -1px 2px 4px rgba(0,0,0,0.26);
  min-width: 197px;
  min-height: 63px;
  width: 20vw;
  height: 10vh;
  align-self: flex-end;
  cursor: pointer;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 30px;

}

.orange-box {
  display: flex;
  background-color: var(--orange);
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 130vh;
}

.orange-box-content {
  padding: 15%;
  margin-bottom: 30vh;
}

.calendar-ilustration {
  width: 100%;
  max-width: 720px;
  max-height: 716px;
}

@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }

  .logo {
    width: 20%;
  }

  
.bud-schedule {
    min-height: 50px;
    width: 15vw;
    height: 6vh;
  }
}

@media (max-width: 840px) {
  html {
    font-size: 48%;
  }

  .bud-schedule {
    min-width: 60px;
  }
}

  @media (max-width: 780px) {
   
}

@media (max-width: 720px) {

  html {
    font-size: 62.5%;
  }

  .logo {
    display: none;
  }

  .white-box {
    width: 100%;
    height: 100vh;
    /* margin-bottom: 10%; */
    /* padding: 10%; */
  }

  .bud {
    width: 27.5vw;

  }

  .texto-selected {
    margin-top: 200px;
  }

  .calendar {
    width: 55vw;
    height: 60vh;
  }

  .selected-workspace {
    width: 55vw;
    height: 10vh;
  }

  .bud-schedule {
    min-width: 197px;
    min-height: 63px;
    width: 20vw;
    height: 10vh;
    align-self: center;
    margin-bottom: 60px;
  }

  .orange-box {
    display: none;
  }
}

@media (max-width: 620px) {
  html {
    font-size: 50%;
  }

  .selected-workspace {
    width: 50vw;
    height: 10vh;
  }

  .bud-schedule {
    min-width: 150px;
    min-height: 50px;
  }

}

@media (max-width: 490px) {
  html {
    font-size: 45%;
  }

  .bud {
    width: 35vw;

  }

  .calendar {
    width: 70vw;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 320px) {

  .white-box {
    font-size: 2.7rem;
  }

  .bud {
    width: 137px;
    height: 35px;

  }

  .calendar {
    width: 274px;
    height: 166px;
  }

  .calendar .week {
    font-size: 2.5rem;
  }

  .calendar .day {
    font-size: 2.5rem;
  }

  .selected-workspace {
    width: 221px;
    height: 31px;
  }
}