:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --black: #000000;
  --grey: rgb(205, 205, 205);
  --grey-button: #DCDCDC;
  --white: #FFFFFF;
  --orange: #FE662E;
  --red: rgb(206, 36, 36);
  --orange-dark: #FE4400;
  --grey-input: #DCDCDC;
  
} 

