@import url("../styles/pattern.css");

.white-box-content-scheduled {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  /* margin-top: 20%; */
}

.image-date {
  margin-bottom: 13.5px;
  width: 7vw;
  max-width: 100px;
  margin-top: 13.5px;
}

.white-box-text-scheduled {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  text-align: center;
  margin-bottom: 13.5px;
}

.scheduling {
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--orange-dark);
  margin-bottom: 6%;
}

.date-scheduled {
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--black);
  margin-bottom: 6%;
}

.address-scheduled {
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--black);
}

.confirmed-workspace {
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--black);
  margin-bottom: 6%;
}

a {
  text-decoration: none;
}

.bud-scheduled {
  align-self: flex-end;
  border-radius: 10px;
  background-color: var(--orange-dark);
  width: 22vw;
  height: 6.15vh;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 1.8rem;
}

.image-confirmation {
  width: 100%;
  max-width: 691px;
  max-height: 691px;
}

@media (max-width: 1000px) {
  html {
    font-size: 60%;
  }

  .logo {
    width: 20%;
  }
}

@media (max-width: 720px) {
  .logo {
    display: none;
  }

  .white-box {
    width: 100%;
  }

  .image-date {
    margin-bottom: 13.5px;
    width: 57.59px;
    /* height: ; */
  }

  .bud-scheduled {
    align-self: center;
    width: 40vw;
    height: 8vh;
    /* font-size: 2.6rem; */
  }

  .orange-box {
    display: none;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 53%;
  }

}

@media (max-width: 360px) {
  html {
    font-size: 40%;
  }

}