html {
  font-size: 40%;
}

.main {
  display: flex;
}

.white-box {
  display: flex;
  background: var(--grey-light);
  width: 50%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 259px;
  max-height: 75px;
  margin-top: 2.9%;
  margin-left: 2.9%;
}

.white-box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 20%; */
}

.image-date {
  margin-bottom: 13.5px;
  width: 8vw;
  max-width: 100px;
  margin-top: 13.5px;
}

.white-box-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  text-align: center;
  margin-bottom: 13.5px;
}

.scheduling {
  font-weight: 600;
  font-size: 3.6rem;
  color: var(--orange-dark);
  margin-bottom: 6%;
}

.date {
  font-weight: 600;
  font-size: 3.6rem;
  color: var(--black);
  margin-bottom: 6%;
}

.address {
  font-weight: 500;
  font-size: 2.4rem;
  color: var(--black);
}

.confirmed-workspace {
  font-weight: 500;
  font-size: 2.4rem;
  color: var(--black);
  margin-bottom: 6%;
}

.button {
  align-self: flex-end;
  border-radius: 10px;
  background-color: var(--orange-dark);
  box-shadow: -1px 2px 4px rgba(0,0,0,0.26);
  width: 22vw;
  height: 6.15vh;
  cursor: pointer;
  border: 0;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
}

.orange-box {
  background-color: var(--orange);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100vh;
}

.orange-box-content {
  padding: 15%;
}

.confirmation {
  width: 100%;
  max-width: 691px;
  max-height: 691px;
}